*{
    font-family: 'Noto Sans KR', sans-serif;
    border-collapse:collapse; /*html에 기본설정된 가장자리들을 없애는명령*/
    margin:0px;               /*간격 없애기*/
    padding:0px;              /*패딩값 없애기*/
    text-decoration: none;    /*밑줄제거*/
    color:black;            /*모든글자색 블랙*/
    list-style: none;         /*앞에 점 없애기*/
}
h1{
    font-size: 48px;;
    font-weight: 400; /* notoSans는 100,300은 얇은체/ 400,500 레귤러/ 700,900은 볼드체 */
}
.contents1{
    font-size: 20px;
    font-weight: lighter; /* 얇은체 */
}
.result{
    font-size: 24px;
}
.intro_bg{
    background-image:url("image/intro.png");
    width:100%;
    height:718px;
} 
.header{
    display:flex; /* 헤더안에있는 태그들을 가로배치 */
    margin:auto; /* 좌우센터정렬 */
    width:1280px;
    height:86px;
    /* background-color: red; */
}
.search_area{
    width: 300px;
    height: 40px;
    /* background-color: green; */
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.search_area form input{
    border:none;
    width: 250px;
    height: 40px;
    background: rgba(0,0,0,0.0); /* 검색창을 투명으로하기 */
    color:#fff;  /* 커서 와 글자 색깔 */
    padding-left: 10px; /* 커서를 몇픽셀로 들여쓰기할건지 */
    outline: none; /* 검색창에 대고 마우스를 클릭했을때 테두리 색깔을 없애기 */
    /* font-size: 14px; */
}
.search_area form span{
    width: 50px;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
}
.nav{
    display:flex; /* nav안에 있는 태그들을 가로배치 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    line-height: 86px; /* 상하센터정렬 */
    width: calc(1280px - 300px); /* 가로크기 */
    /* background-color: blue; */
}
.nav li{
    margin-left: 84px;
}
.nav li a{
    color: #fff; /* #000 은 검은색 */
}
.intro_text{
    width: 100%;
    margin:231px auto 231px auto; /* 상,우,하,좌 <--시계방향으로 여백을 넣어주는것 */
    text-align: center;
}
.intro_text h1,
.intro_text h4{
    color:#fff;
}
.amount{
    position: relative;  /* 포지션을 고정해준다 */
    top:-66px;           /* 포지션을 고정해준상태에서 보여지는것만 -66px로 이동한거로 보여짐 */
    display: flex;
    width:1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  /* 좌우, 상하, 오퍼시티, 색상 */
    margin: auto;
  }
  .amount > li {
    flex: 1;
    height: 132px;
  }
  .amount > li > div {
    text-align: center;
    margin-top:37px;
    height:57px;
  }
  
  .amount > li:not(:last-child) > div{
    border-right:1px solid #E1E1E1;
  }